@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-article__heading2__text{
    font-family:va.$font-base;
    font-weight: 700;
    font-size:max(calc(32/va.$sp-design-width*100vw),32px);
    color: #000;
    text-align: center;
    line-height: calc(32/32);
    position: relative;
    display: inline-block;
    @include mixin.mq(pc){
        font-size:max(calc(48/va.$pc-design-width*100vw),48px);
    }
}