@use '../../Foundation/vars' as va;
@use '../../Foundation/mixin';

.p-section__web3__image1{
    background-image: url(../img/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(201/va.$sp-design-width*100vw);
    margin-bottom:max(calc(24/va.$sp-design-width*100vw),24px);

    @include mixin.mq(pc){
        width: max(calc(540/va.$pc-design-width*100vw),540px);
        height: calc(324/va.$pc-design-width*100vw);
        margin-bottom:0;
        margin-right:max(calc(40/va.$pc-design-width*100vw),40px);
    }
}